/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font_family);
  font-size: 18px;
  font-variation-settings: "wght" var(--font_weight-text);
  background-image: var(--bg_page);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.header_block {
  max-inline-size: 700px;
  margin-block: 100px;
  padding-block: clamp(7.375rem, 7.1549rem + 0.939vw, 8rem);
  padding-inline: clamp(0.875rem, -1.4688rem + 10vw, 7.53125rem);
  font-family: var(--accent_font);
  background-color: #fff;
  border: 2px solid var(--accent_color);
  text-align: center;
}

.block {
  inline-size: var(--width_block);
}

.title {
  padding-bottom: 20px;
  font-weight: 400;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
  color: #000;
}

.subtitle {
  font-weight: 400;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
  color: #000;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  width: var(--width_block);
  justify-content: center;
  background-color: #fff;
  border: 2px solid var(--accent_color);
}

.card_title {
  padding: 4px 10px;
  font-size: 18px;
  font-variation-settings: "wght" var(--font_weight-h2);
  border-bottom: 2px solid var(--accent_color);
}

.card_image {
  width: 100%;
  position: relative;
}

.card_img {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1;
  border-bottom: 2px solid var(--accent_color);
  border-top: 2px solid var(--accent_color);
}

.img_brightness {
  filter: brightness(200%);
}

.img_contrast {
  filter: contrast(150%);
}

.img_blur {
  filter: blur(1rem);
}

.img_grayscale {
  filter: grayscale(1);
}

.img_rotate {
  filter: hue-rotate(-80deg);
}

.img_sepia {
  filter: sepia(70%);
}

.img_invert {
  filter: invert(0.9);
}

.img_multi-filters {
  filter: blur(2px) contrast(150%) hue-rotate(70deg);
}

.card_label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent_font);
  font-size: 14px;
  text-transform: uppercase;
  color: rgb(0, 0, 0, 0.5);
  mix-blend-mode: hard-light;
  text-shadow:
    -1px 0 var(--label_stroke),
    0 1px var(--label_stroke),
    1px 0 var(--label_stroke),
    0 -1px var(--label_stroke);
}

@supports (text-stroke: 1px var(--label_stroke)) or
  (-webkit-text-stroke: 1px var(--label_stroke)) {
  .card_label {
    -webkit-text-stroke: 1px var(--label_stroke);
    text-stroke: 1px var(--label_stroke);
    text-shadow: none;
  }
}

.card_content {
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 25px;
}

.card_text {
  line-height: 1.15;
  font-variation-settings: "wght" var(--font_weight-text);
}

.card_like {
  display: flex;
  gap: 5px;
  justify-content: end;
  align-items: center;
}

.button {
  position: relative;
  color: var(--color_button);
  background-color: var(--bg_button);
  border: 2px solid var(--accent_color);
  padding: 7.5px;
  transition: box-shadow 0.3s ease;
}

.button:not(.card__icon-button)::before {
  content: "";
  position: absolute;
  z-index: 0;
  inset: 0;
  background-color: var(--accent_color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: scaleX(1);
}

button:focus {
  outline: none;
}

button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent_color);
}

.card__icon-button {
  padding: 0;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent_color);
  box-shadow: none;
}

.like-icon {
  display: block;
  transform-origin: center;
}

.like-icon:hover .core {
  fill: var(--accent_color);
  transition: fill 0.3s linear 0s;
}

.like-icon:hover .main_body {
  fill: var(--accent_color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--color_sparks);
  transition: fill 0.3s linear 0s;
}

.like-icon:active .main_body {
  fill: var(--color_sparks);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--color_sparks);
  transition: fill 0.3s linear 0s;
}

.like-icon.is-liked .main_body {
  fill: var(--color_sparks);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--color_sparks);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked {
  animation: like 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: sparks_like 0.3s ease-in 0.3s;
}

.contour {
  transition: fill 0.1s linear;
}

.main_body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.sparks {
  fill: transparent;
}

.card__like-button {
  min-width: 130px;
}

.button__text {
  position: relative;
  z-index: 10;
  font-family: var(--accent_font);
  font-size: 14px;
  line-height: 0.9;
  mix-blend-mode: difference;
}

.save_button {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 50px auto 100px;
  padding: 15px 19px;
}

@media (width <= 375px) {
  .save_button {
    flex-direction: column;
  }
}

.save_icon {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

@media (width <= 375px) {
  .save_icon {
    width: 28px;
    height: 28px;
  }
}

/*
#floppy-dialog[open] {
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
  padding: 28px;
  max-width: 353px;
  width: 100%;
  box-sizing: border-box;
}

@media (width <= 375px) {
  #floppy-dialog[open] {
    padding: 30px 40px;
    max-width: 341px;
  }
}
*/

#floppy-dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 353px;
  padding: 28px;
}

.dialog_block {
  display: flex;
  gap: 20px;
}

.dialog_svg {
  width: 39px;
  height: 39px;
  align-self: center;
  flex-shrink: 0;
}

.text_dialog {
  font-family: var(--accent_font);
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
}

.button_close {
  grid-column: 1 / -1;
  justify-self: stretch;
  inline-size: 100%;
  font-size: inherit;
  text-transform: uppercase;
}

#floppy-dialog::backdrop {
  background-color: var(--accent_color);
  opacity: 0.75;
}

@media (width <= 375px) {
  #floppy-dialog[open] {
    padding: 28px 38px;
    max-width: 341px;
  }
}